---
import Project, { type ProjectType } from "../Project.astro";
import kdeLogo from "@images/kdeLogo.webp";
import bootstrapAcademyLogo from "@images/bootstrapAcademyLogo.webp";
import microbotLogo from "@images/microbotLogo.webp";
import javaLogo from "@images/java.svg";
import cppLogo from "@images/cpp_logo.svg";
import qtLogo from "@images/qt_logo.svg";
import jsonLogo from "@images/json_logo.svg";

let projects: ProjectType[] = [
  {
    title: "KDE",
    imgSrc: kdeLogo,
    description:
      "I have contributed to the KDE Community, specifically to KDE Plasma, a Linux desktop environment. One specific task involved implementing UI adjustments to make the interface simpler to navigate for users. Click below to visit my KDE GitLab profile to see all my contributions!",
    link: "https://invent.kde.org/engin-karakurt",
    badges: [
      {
        imgSrc: cppLogo,
        label: "C++",
      },
      {
        imgSrc: qtLogo,
        label: "Qt",
      },
      {
        label: "QML",
      },
    ],
  },
  {
    title: "Microbot",
    imgSrc: microbotLogo,
    description:
      "I have contributed to Microbot, an automated client for the game Old School RuneScape based on RuneLite, which uses a plugin system to enable scripting. I have changed a script for a minigame to have more human-like behaviour while doing specific actions. Click below to visit my GitHub profile to see all my contributions!",
    link: "https://github.com/enginkarakurt",
    badges: [
      {
        imgSrc: javaLogo,
        label: "Java",
      },
    ],
  },
    {
    title: "microbot-launcher-unix",
    imgSrc: microbotLogo,
    description:
      "I have created an Unofficial Open Source Cross-Plattform Launcher for Microbot, a RuneLite botting client (The Project above). The Launcher automatically updates the client for users and manages versions by deleting old versions. It also automatically launches the client. It is meant for running and automatically updating Microbot on macOS or Linux, where the Official Microbot Client is not supported. However, it also works fine on Windows! Click below to visit the Project Repository to learn more about it!",
    link: "https://github.com/enginkarakurt/microbot-launcher-unix",
    badges: [
      {
        imgSrc: javaLogo,
        label: "Java",
      },
    ],
  },
  {
    title: "Bootstrap Academy",
    imgSrc: bootstrapAcademyLogo,
    description:
      "I have contributed to the Bootstrap Academy, an online platform where people can learn computer science topics for free. I have revised confusing texts regarding options for obtaining platform currency to make them more understandable for users. Click below to visit my GitHub profile to see all my contributions!",
    link: "https://github.com/enginkarakurt",
    badges: [
      {
        imgSrc: jsonLogo,
        label: "JSON",
      },
    ],
  },
];
---

<section id="my-work-section" class="min-h-svh p-8 flex flex-col gap-8">
  <h2 class="mt-20 text-4xl font-bold">My Work</h2>
  <div class="w-full flex flex-col justify-center items-center gap-8">
    {projects.map((project) => <Project project={project} />)}
  </div>
</section>
