---
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Engin Karakurt - Full Stack Software Developer from Germany. Explore my portfolio to see my work and skills!"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <Font cssVariable="--font-inter" preload />
    <title>Engin Karakurt</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    --base: #cfcfcf;
    --text: #212121;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --base: #212121;
      --text: #cfcfcf;
    }
  }

  html {
    color-scheme: dark light;
  }

  :root:has(#theme [value="light"]:checked) {
    color-scheme: light;
    --base: #cfcfcf;
    --text: #212121;
  }

  :root:has(#theme [value="dark"]:checked) {
    color-scheme: dark;
    --base: #212121;
    --text: #cfcfcf;
  }

  body {
    margin: 20px auto;
    padding: 0 10px;
    max-width: 650px;

    font-size: 18px;
    line-height: 1.6;
    font-family: var(--font-inter);

    color: var(--text);
    background-color: var(--base);
  }
</style>
